node_modules
dist
out
.DS_Store
.eslintcache
*.log*
*.tsbuildinfo
resources/ollama/
resources/models/
resources/data/
resources/attachments/
resources/lancedb/
resources/uploads/
resources/proxy-config.json
data/