@font-face {
  font-family: rmel-iconfont;
  src: url("./fonts/react-markdown-editor-lite.ttf")
}

.rmel-iconfont {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-style: normal;
  font-family: rmel-iconfont !important;
}

.rmel-icon-tab:before {
  content: "";
}

.rmel-icon-keyboard:before {
  content: "";
}

.rmel-icon-delete:before {
  content: "";
}

.rmel-icon-code-block:before {
  content: "";
}

.rmel-icon-code:before {
  content: "";
}

.rmel-icon-visibility:before {
  content: "";
}

.rmel-icon-view-split:before {
  content: "";
}

.rmel-icon-link:before {
  content: "";
}

.rmel-icon-redo:before {
  content: "";
}

.rmel-icon-undo:before {
  content: "";
}

.rmel-icon-bold:before {
  content: "";
}

.rmel-icon-italic:before {
  content: "";
}

.rmel-icon-list-ordered:before {
  content: "";
}

.rmel-icon-list-unordered:before {
  content: "";
}

.rmel-icon-quote:before {
  content: "";
}

.rmel-icon-strikethrough:before {
  content: "";
}

.rmel-icon-underline:before {
  content: "";
}

.rmel-icon-wrap:before {
  content: "";
}

.rmel-icon-font-size:before {
  content: "";
}

.rmel-icon-grid:before {
  content: "";
}

.rmel-icon-image:before {
  content: "";
}

.rmel-icon-expand-less:before {
  content: "";
}

.rmel-icon-expand-more:before {
  content: "";
}

.rmel-icon-fullscreen-exit:before {
  content: "";
}

.rmel-icon-fullscreen:before {
  content: "";
}

