.click_sqark {
    :host {
        display: contents;
    }

    svg {
        pointer-events: none;
        position: fixed;
        rotate: -20deg;
        stroke: cadetblue;
    }

    line {
        stroke-dasharray: 30;
        stroke-dashoffset: 30;
        transform-origin: center;
    }
}